aws_region      = "eu-central-1"
project_name    = "prime-api"
vpc_cidr        = "10.0.0.0/16"
db_username     = "<DB_USER>"
db_password     = "<DB_PASSWORD>"
db_name         = "<DB_NAME>"
vpn_client_cidr = "10.10.0.0/16"
